.App {
  padding-top: 0px;
}

.App-header {
  display: flex;
  flex-direction: column;
  background-color: #191a1a;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #c3c3c3;
  z-index: 40;
}
.Title {
  margin-left: 80vw;
  width: 20vw;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.Menu {
  width: 20vw;
  height: 60vw;
  text-align: justify;
  padding-block: 2%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #c3c3c3;
}

.App-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
